@import '~bootswatch/dist/yeti/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/yeti/bootswatch';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';

.collapsing.fast {
    -webkit-transition: height .15s ease;
         -o-transition: height .15s ease;
            transition: height .15s ease;
}

.form-control {
    border-radius: 0rem;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(245,250,252,1);
}

.form-control:focus {
    color: #495057;
    background: rgb(245,250,252);
    background: linear-gradient(180deg, rgba(245,250,252,0.4) 92%, rgba(59,206,255,1) 100%);
    border-color: #3bceff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.25);
    // box-shadow: 0px 0px 0px 0.2rem rgba(0,140,186,0.25);
    box-shadow: none;
}

::placeholder {
    color: #dcf5ff;
}

.dropdown-toggle.maintenance-more::after {
    display: none;
}

.row.maintenance{
    &.odd{
    background: rgb(245,250,252);
    }
    &.even {
        background: rgb(255, 255, 255);
    }
}

a.maintenance-link:link, a.maintenance-link:visited {
    color: rgb(31, 35, 39)
}

a.maintenance-link:hover {
    color: rgb(11, 97, 184)
}

.jr-hidden {
    display: none;
}

.maintenance-link {
    font-size: 1.3em;
}

.maintenance-form-fields .input-group-text{
   background-color: inherit;
   border: inherit;
}

.row.car-operation {
    &.odd{
        background: rgb(245,250,252);
    }
    &.even{
        background: rgb(255, 255, 255);
    }
}
